<!DOCTYPE html>
<html>
<head>
  <title>Sencha</title>
  <%= stylesheet_link_tag    "sencha/application", :media => "all" %>
  <%= javascript_include_tag "sencha/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

</body>
</html>
